@* Reference the associated component as model. **@
@using SampleRazorPagesApplication
@model ExampleComponent

@* The content of the component. **@
<div class="example-component" style="padding: 1rem; background-color: @Model.BackgroundColor; font-size: @Model.FontSize">
    <h1 style="margin: 0; line-height: 100%">
        ExampleComponent: @Model.UppercaseTitle
    </h1>

    <br />
    
    <div  class="example-component-slot0" style="background: rgba(0, 255, 0, 0.1); padding: 1rem;">
        @* Render another named slot. **@
        @Html.Raw(Model.NamedSlots["SlotName0"])
    </div>
    
    <br />
    
    <div class="example-component-child-content" style="background: rgba(0, 0, 255, 0.1); padding: 1rem;">
        @* Render the child content. **@
        @Html.Raw(Model.ChildContent)
    </div>
    
    <br />
    
    <div class="example-component-slot1" style="background: rgba(255, 0, 0, 0.1); padding: 1rem;">
        @* Render a named slot. **@
        @Html.Raw(Model.NamedSlots["SlotName1"])
    </div>
</div>